/* Use CSS for header, as it will be used on multiple pages */

.header {
	background: #5d72e9;
	height: 200px;
 }
 
 .header h1 {
	margin: 0;
	padding-top: 75px;
	text-align: center;
	color: aliceblue;
	font-size: 3rem;
 }
 
 test {
	background: '#e8eaf6';
	background: '#3f51b5'
	
 }