:root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  --dark: #272822;
  --light: #F8F8F3;
  --blue: #0D859A;
  --lightOrange: #F08C01;
  --orange: #E8580C;
  --red: #E23230;
  --cyan:##26E8DF;
  --green:##04aa6dff;
}

main {
  margin: 0;
  padding: 0;
  background: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center top;
  align-items: center;
  width: 100%;
}
  

.card {
  padding: 20px;
}
.carousel-buttons {
  /* outline: var(--red) dashed 3px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  outline: var(--red) dashed 3px;
  height: 40px;
  width: 15%;
  background-color: var(--light);
  margin: 20px;
}

.project-title {
  display: flex;
  flex-direction: column;
  justify-content: center top;
  align-items: center;
  font-size:24px;
  color: var()
}

.project-image {
  display: flex;
  flex-direction: column;
  justify-content: center top;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center top;
  align-items: center;
}